
<div class="container">
	<h2>Welcom to the Results Page!</h2>
	<form action="/Student/ShowStudentResults" method="post">
		<div class="form-group">
			<label for="StudentName">Insert Your ID:</label>
			<input type="search" class="form-control" id="ID" placeholder="Ex: 416" name="id" required />
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>

